body {
  background-color: rgb(255, 255, 255);
  font-family: 'Montserrat', sans-serif;
  color: rgb(0, 0, 0);
  animation: 2s ease-out 0s 1 appearpage;

}

@keyframes appearpage {
		0%    {opacity: 0.0;}
    50%   {opacity: 0.0;}
		100%  {opacity: 1.0;}
		}
@-webkit-keyframes appearpage {
  0%    {opacity: 0.0;}
  50%   {opacity: 0.0;}
  100%  {opacity: 1.0;}
}

.burger {
  visibility: hidden;
  position: fixed;
  top: 35px;
  right: 5%;
  z-index: 17;
  width: 31px;
  height: 24px;
  opacity: 0.6;
  overflow: visible;
  cursor: pointer;
}

.container {
  visibility: hidden;
  position: fixed;
  top: 178px;
  left: 92.5%;
  z-index: 20;
  width: 2.5%;
  height: 104px;
}

.block1 {
  position: relative;
  float: left;
  clear: both;
  z-index: 7;
  width: 79.4809181608%;
  height: 345px;
  margin: -345px 0 0 10.28745%;
  opacity: 1;
  cursor: pointer;

}

.block2 {
  position: relative;
  float: left;
  clear: both;
  z-index: 11;
  width: 38.512523547%;
  height: 345px;
  margin: -345px 0 0 10.28745%;
  opacity: 1;
  cursor: pointer;
}

.block3 {
  position: relative;
  float: left;
  z-index: 15;
  width: 48.7825298262%;
  height: 345px;
  margin: -345px 0 0 51.20526%;
  opacity: 1;
  cursor: pointer;
}

.block4 {
  position: relative;
  float: left;
  clear: both;
  z-index: 19;
  width: 69.3225423847%;
  height: 345px;
  margin: -345px 0 0 30.67746%;
  opacity: 1;
  cursor: pointer;
}

.block5 {
  position: relative;
  float: left;
  clear: both;
  z-index: 23;
  width: 79.4809181608%;
  height: 345px;
  margin: -345px 0 0 10.25954%;
  opacity: 1;
  cursor: pointer;
}

.block6 {
  position: relative;
  float: left;
  clear: both;
  z-index: 27;
  width: 38.4706621084%;
  height: 345px;
  margin: -345px 0 0 10.28745%;
  opacity: 1;
  cursor: pointer;
}

.block7 {
  position: relative;
  float: left;
  z-index: 31;
  width: 48.7825298262%;
  height: 345px;
  margin: -345px 0 0 51.21747%;
  opacity: 1;
  cursor: pointer;
}

.block8 {
  position: relative;
  float: left;
  clear: both;
  z-index: 35;
  width: 69.3225423847%;
  height: 345px;
  margin: -345px 0 0 30.67746%;
  opacity: 1;
  cursor: pointer;
}

.cover1 {
  position: relative;
  float: left;
  z-index: 5;
  width: 100%;
  height: 345px;
  background-color: rgb(1, 0, 3);
  opacity: 0.4;
  cursor: pointer;
}

.cover2 {
  position: relative;
  float: left;
  z-index: 9;
  width: 100%;
  height: 345px;
  background-color: rgb(1, 0, 3);
  opacity: 0.4;
  cursor: pointer;
}

.cover3 {
  position: relative;
  float: left;
  z-index: 13;
  width: 100%;
  height: 345px;
  background-color: rgb(1, 0, 3);
  opacity: 0.4;
  cursor: pointer;
}

.cover4 {
  position: relative;
  float: left;
  clear: both;
  z-index: 17;
  width: 100%;
  height: 345px;
  background-color: rgb(1, 0, 3);
  opacity: 0.4;
  cursor: pointer;
}

.cover5 {
  position: relative;
  float: left;
  clear: both;
  z-index: 21;
  width: 100%;
  height: 345px;
  background-color: rgb(1, 0, 3);
  opacity: 0.4;
  cursor: pointer;
}

.cover6 {
  position: relative;
  float: left;
  clear: both;
  z-index: 25;
  width: 100%;
  height: 345px;
  background-color: rgb(1, 0, 3);
  opacity: 0.4;
  cursor: pointer;
}

.cover7 {
  position: relative;
  float: left;
  z-index: 29;
  width: 100%;
  height: 345px;
  background-color: rgb(1, 0, 3);
  opacity: 0.4;
  cursor: pointer;
}

.cover8 {
  position: relative;
  float: left;
  z-index: 30;
  width: 100%;
  height: 345px;
  background-color: rgb(1, 0, 3);
  opacity: 0.4;
  cursor: pointer;
}

.prname1 {
  position: relative;
  float: left;
  z-index: 20;
  width: 400px;
  margin: -100px 0 0 4.4%;
  font-size: 26px;
  font-weight: 800;
  line-height: 1.38em;
  color: rgb(255, 255, 255);
  opacity: 1;
}

.prname2 {
  position: relative;
  float: left;
  z-index: 21;
  width: 240px;
  margin: -136px 0 0 9.08%;
  font-size: 26px;
  font-weight: 800;
  line-height: 1.38em;
  color: rgb(255, 255, 255);
  opacity: 1;
  cursor: pointer;
}

.prname3 {
  position: relative;
  float: left;
  z-index: 22;
  width: 270px;
  margin: -136px 0 0 7.56%;
  font-size: 26px;
  font-weight: 800;
  line-height: 1.38em;
  color: rgb(255, 255, 255);
  opacity: 1;
  cursor: pointer;
}

.prname4 {
  position: relative;
  float: left;
  z-index: 23;
  width: 280px;
  margin: -100px 0 0 5.4%;
  font-size: 26px;
  font-weight: 800;
  line-height: 1.38em;
  color: rgb(255, 255, 255);
  opacity: 1;
  cursor: pointer;
}

.prname5 {
  position: relative;
  float: left;
  z-index: 24;
  width: 350px;
  margin: -100px 0 0 4.4%;
  font-size: 26px;
  font-weight: 800;
  line-height: 1.38em;
  color: rgb(255, 255, 255);
  opacity: 1;
  cursor: pointer;
}

.prname6 {
  position: relative;
  float: left;
  z-index: 25;
  width: 250px;
  margin: -136px 0 0 9.08%;
  font-size: 26px;
  font-weight: 800;
  line-height: 1.38em;
  color: rgb(255, 255, 255);
  opacity: 1;
  cursor: pointer;
}

.prname7 {
  position: relative;
  float: left;
  z-index: 29;
  width: 350px;
  margin: -100px 0 0 7.56%;
  font-size: 26px;
  font-weight: 800;
  line-height: 1.38em;
  color: rgb(255, 255, 255);
  opacity: 1;
  cursor: pointer;
}

.prname8 {
  position: relative;
  float: left;
  z-index: 32;
  width: 34.8287169469%;
  margin: -64px 0 0 5.4%;
  font-size: 26px;
  font-weight: 800;
  line-height: 1.38em;
  color: rgb(255, 255, 255);
  opacity: 1;
  cursor: pointer;
}

.block1:not(:hover),
.block2:not(:hover),
.block3:not(:hover),
.block4:not(:hover),
.block5:not(:hover),
.block6:not(:hover),
.block7:not(:hover),
.block8:not(:hover) {
opacity: 0;
transition: ease-out 0.5s;
}

.langtext {
  position: absolute;
  right: 0;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.langtext:hover {
  color: rgb(53, 106, 219);
}

.lineofburg {
  float: right;
  width: 100%;
  height: 4px;
  background-color: rgb(53, 106, 219);
}

.mainindexconteiner {
  position: relative;
  z-index: 12;
  width: 74.6520833333%;
  max-width: 1000px;
  margin: 118px auto 0;
animation: 0.5s ease-out 1s 1 slideInFrombottom;
}

@keyframes slideInFrombottom {
		0%    {transform:translateY(+100px); opacity: 0.0;}
		100%  {transform:translateY(0); opacity: 1.0;}
		}
@-webkit-keyframes slideInFrombottom {
  0%    {transform:translateY(+100px); opacity: 0.0;}
  100%  {transform:translateY(0); opacity: 1.0;}
}

.menucont {
  position: fixed;
  top: 35px;
  left: 5%;
  z-index: 26;
  width: 7.9166666666%;
  height: 367px;
  cursor: pointer;
}

.menucont .element {
  width: 52px;
  height: 9px;
  background-color: rgb(53, 106, 219);
}

.menutext {
  float: left;
  clear: both;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.menutext:hover {
  color: rgb(53, 106, 219);
  opacity: 1;
}

.projectlist {
  float: left;
  height: 345px;
  background-color: rgb(222, 222, 222);
}

.text {
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.titlecontainer {
  position: relative;
  float: left;
  width: 713px;
  height: 239px;
  margin: 50px 0 0 20.12489%;
}

.titlecontainer .element {
  float: left;
  width: 52px;
  height: 9px;
  margin: 165px 0 0 0.42295%;
  background-color: rgb(53, 106, 219);
}

.titlecontainer .text {
  float: left;
  clear: both;
  margin: 43px 0 0 0.48431%;
}

.titletext {
  position: absolute;
  top: 0;
  left: 0;
  width: 93.8288920056%;
  min-height: 100px;
  font-size: 3em;
  line-height: 1.3;
  font-weight: 800;
  color: #356adb;
}

.element-1 {
  float: left;
}

.element-2 {
  position: absolute;
  top: 82px;
  left: 1210.5263157894%;
  z-index: 24;
}

.element-3 {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 13;
  width: 100%;
  height: 117px;
  background-color: rgb(255, 255, 255);
}

.element-5 {
  position: relative;
  float: left;
  z-index: 27;
  width: 100%;
  height: 55px;
  background-color: #f0f0f0;
}

.langtext-1 {
  top: 83px;
  z-index: 19;
}

.langtext-2 {
  top: 0;
  z-index: 18;
  font-family: 'Montserrat SemiBold';
}

.lineofburg-2,
.lineofburg-3 {
  clear: both;
  margin-top: 6px;
}

.menutext-1 {
  margin: 139px 0 0 -1px;
  font-weight: 600;
}

.menutext-2,
.menutext-3 {
  margin-top: 66px;
}

.projectlist-1{
  clear: both;
  width: 79.4809181608%;
  margin: 100px 0 0 10.28745%;
  background-image: url('../images/Web-Showcase.jpg');
  background-size: 160% auto;
  background-position: 50% 40%;
  cursor: pointer;
}


.projectlist-2 {
  position: relative;
  clear: both;
  z-index: 5;
  width: 38.512523547%;
  margin: 20px 0 0 10.24559%;
  background-image: url('../images/mock%20up%20concrete%202.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 40% 50%;
  cursor: pointer;
}

.projectlist-3 {
  position: relative;
  z-index: 6;
  width: 48.7825298262%;
  margin: -345px 0 0 51.20526%;
  background-image: url('../images/12563.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  cursor: pointer;
}

.projectlist-4 {
  clear: both;
  width: 69.3225423847%;
  margin: 20px 0 0 30.67746%;
  background-image: url('../images/project1@x.png');
  background-size: cover;
  background-position: center center;
  cursor: pointer;
}

.projectlist-5 {
  clear: both;
  width: 79.4809181608%;
  margin: 20px 0 0 10.24559%;
  background-image: url('../images/%D0%BE%D0%B1%D0%BB%D0%BE%D0%B6%D0%BA%D0%B0.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  cursor: pointer;
}

.projectlist-6 {
  position: relative;
  clear: both;
  z-index: 9;
  width: 38.512523547%;
  margin: 20px 0 0 10.24559%;
  background-image: url('../images/iphone6-mockup-2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 40% 50%;
  cursor: pointer;
}


.projectlist-7 {
  position: relative;
  z-index: 10;
  width: 48.7825298262%;
  margin: -345px 0 0 51.21747%;
  background-image: url('../images/%D0%BE%D0%B1%D0%BB%D0%BE%D0%B6%D0%BA%D0%B0%20fashion.jpg');
  background-repeat: no-repeat;
  background-size: auto 110%;
  background-position: center center;
  cursor: pointer;
  margin: -345px 0 0 51.21747%;
}

.projectlist-8 {
  clear: both;
  width: 69.3225423847%;
  margin: 20px 0 0 30.67746%;
  background-image: url('../images/%D0%BE%D0%B1%D0%BB%D0%BE%D0%B6%D0%BA%D0%B0%20%D0%BB%D0%BE%D0%B3%D0%BE.jpg');
  background-size: cover;
  background-position: 50% 40%;
  cursor: pointer;
}


.text-2 {
  position: relative;
  float: left;
  clear: both;
  z-index: 28;
  margin: -37px 0 0 5%;
  font-weight: 400;
}

.text-3 {
  position: relative;
  float: right;
  z-index: 29;
  margin: -37px 5.03125% 0 0;
  font-weight: 400;
}

._container-2 {
  position: relative;
  float: left;
  clear: both;
  z-index: 30;
  width: 100%;
  height: 55px;
  margin-top: 135px;
}

@media(max-width: 1024px) {

  .burger {
    visibility: visible;
    top: 25px;
    right: 4.83%;
    height: 30px;
    opacity: 1;
  }

  .burger:hover {
    opacity: 0.6;
  }

  .burger .lineofburg {
    float: left;
    width: 97.974537037%;
  }

  .container {
    left: 92.2409057617%;
    width: 2.9296875%;
  }

  .container .langtext {
    right: auto;
  }

  .mainindexconteiner {
    position: relative;
    float: left;
    z-index: 12;
    width: 71.77734375%;
    margin-top: 70px;
    margin-right: 0;
    margin-left: 14.16016%;
  }

  .mainindexconteiner .projectlist {
    height: 300px;
  }

  .mainindexconteiner .titlecontainer {
    width: 74.4217687074%;
    height: 191px;
    margin-left: 25.57611%;
  }

  .menucont {
    top: 25px;
    left: 4.8828125%;
    width: 10.64453125%;
    height: 385px;
  }

  .menucont .element {
    width: 36px;
    height: 7px;
  }

  .menucont .menutext {
    visibility: hidden;
  }

  .titlecontainer .element {
    position: relative;
    z-index: 1;
    width: 36px;
    height: 7px;
    margin-top: 112px;
    margin-left: 0;
  }

  .titlecontainer .text {
    margin-top: 35px;
    margin-left: 0;
  }

  .titlecontainer .titletext {
    left: -1px;
    width: 400px;
    font-size: 1.875em;
  }

  .container .langtext-1 {
    position: static;
    float: right;
    top: auto;
    margin-top: 77px;
    margin-right: 2px;
  }

  .container .langtext-2 {
    left: -1px;
  }

  .element-3 {
    width: 100.4166666666%;
    height: 70px;
  }

  .mainindexconteiner .projectlist-1 {
    z-index: 4;
    width: 87.2108843537%;
    margin-left: 0;
  }

  .mainindexconteiner .projectlist-2 {
    clear: both;
    z-index: 8;
    width: 48.8435374149%;
    height: 300px;
    margin-left: 0;
  }

  .mainindexconteiner .projectlist-3 {
    z-index: 12;
    width: 48.8435374149%;
    margin-top: -300px;
    margin-left: 51.14796%;
    height: 300px;
  }

  .mainindexconteiner .projectlist-4 {
    z-index: 16;
    width: 74.4217687074%;
    height: 300px;
    margin-left: 25.57611%;
  }

  .mainindexconteiner .projectlist-5 {
    z-index: 20;
    width: 87.3469387755%;
    height: 300px;
    margin-top: 20px;
    margin-left: 0;
  }

  .mainindexconteiner .projectlist-6 {
    clear: both;
    z-index: 24;
    width: 48.7074829931%;
    height: 300px;
    margin-left: 0;
  }

  .mainindexconteiner .projectlist-7 {
    z-index: 28;
    width: 48.8435374149%;
    margin-top: -300px;
    height: 300px;
    margin-left: 51.15434%;
  }

  .mainindexconteiner .projectlist-8 {
    z-index: 32;
    width: 74.4217687074%;
    height: 300px;
    margin-top: 20px;
    margin-left: 25.57611%;
  }

  .menucont .menutext-1 {
    margin-top: 125px;
    margin-left: 0;
  }

  .menucont .menutext-2,
  .menucont .menutext-3 {
    margin-top: 80px;
    margin-left: 8px;
  }

  ._container .element-5 {
    position: relative;
    z-index: 27;
  }

  ._container .text-2 {
    position: relative;
    z-index: 28;
    margin-left: 4.99878%;
  }

  ._container .text-3 {
    position: relative;
    z-index: 29;
    margin-right: 4.8996%;
  }

  ._container-2 {
    position: relative;
    z-index: 30;
    margin-top: 140px;
  }


  .block1 .cover1 {
    position: relative;
    z-index: 5;
    width: 100%;
    height: 300px;
    margin-left: 0;
}

  .block2 .cover2 {
    position: relative;
    z-index: 9;
    height: 300px;
    margin-left: 0;
}

  .block3 .cover3 {
    position: relative;
    z-index: 13;
    width: 100%;
    height: 300px;
}

  .block4 .cover4 {
    position: relative;
    z-index: 17;
    width: 100%;
    height: 300px;
}

  .block5 .cover5 {
    position: relative;
    z-index: 21;
    width: 100%;
    height: 300px;
}

  .block6 .cover6 {
    position: relative;
    z-index: 25;
    width:100%;
    height: 300px;
}

.block7 .cover7 {
  position: relative;
  z-index: 29;
  width: 100%;
  height: 300px;
}

.block8 .cover8 {
  position: relative;
  z-index: 30;
  width: 100%;
  height: 300px;
}

.block1 .prname1 {
  position: relative;
  z-index: 20;
  width: 300px;
  margin-top: -80px;
  margin-left: 4.4%;
  font-size: 20px;
}

.block2 .prname2 {
  position: relative;
  z-index: 21;
  width: 180px;
  margin-top: -107px;
  margin-left: 9.08%;
  font-size: 20px;
}

.block3 .prname3 {
  position: relative;
  z-index: 22;
  width: 220px;
  margin-top: -107px;
  margin-left: 9.08%;
  font-size: 20px;
}

.block4 .prname4 {
  position: relative;
  z-index: 23;
  width: 250px;
  margin-top: -80px;
  margin-left: 6%;
  font-size: 20px;
}

.block5 .prname5 {
  position: relative;
  z-index: 24;
  width: 284px;
  margin-top: -80px;
  margin-left: 4.4%;
  font-size: 20px;
}

.block6 .prname6 {
  position: relative;
  z-index: 25;
  width: 200px;
  margin-top: -107px;
  margin-left: 9.08%;
  font-size: 20px;
}

.block7 .prname7 {
  position: relative;
  z-index: 32;
  width: 180px;
  margin-top: -107px;
  margin-left: 9.08%;
  font-size: 20px;
}

.block8 .prname8 {
  position: relative;
  z-index: 32;
  margin-top: -53px;
  margin-left: 6%;
  font-size: 20px;
}

.mainindexconteiner .block1 {
  position: relative;
  z-index: 12;
  width: 87.2108843537%;
  height: 300px;
  margin-top: -300px;
  margin-left: 0;
}

.mainindexconteiner .block2 {
  position: relative;
  z-index: 11;
  width: 48.7074829931%;
  height: 300px;
  margin-top: -300px;
  margin-left: 0;
}

.mainindexconteiner .block3 {
  position: relative;
  z-index: 15;
  width: 48.8435374149%;
  height: 300px;
  margin-top: -300px;
  margin-left: 51.15434%;
}

.mainindexconteiner .block4 {
  position: relative;
  z-index: 15;
  width: 74.2857142857%;
  height: 300px;
  margin-top: -300px;
  margin-left: 25.53997%;
 }

.mainindexconteiner .block5 {
  position: relative;
  z-index: 23;
  width: 87.3469387755%;
  height: 300px;
  margin-top: -300px;
  margin-left: 0;
 }

.mainindexconteiner .block6 {
  position: relative;
  z-index: 27;
  width: 48.8435374149%;
  height: 300px;
  margin-top: -300px;
  margin-left: -0.13393%;
 }

.mainindexconteiner .block7 {
  position: relative;
  z-index: 29;
  width: 48.8435374149%;
  height: 300px;
  margin-top: -300px;
  margin-left: 51.15434%;
 }

.mainindexconteiner .block8 {
  position: relative;
  z-index: 35;
  width: 74.2857142857%;
  height: 300px;
  margin-top: -300px;
  margin-left: 25.57611%;
 }
}

@media(max-width: 768px) {
  body {
    font-size: 1em;
  }

  .burger {
    right: 2.6%;
  }

  .burger .lineofburg {
    width: 99.140625%;
  }

  .container {
    left: 92.2403971354%;
    width: 3.90625%;
  }

  .mainindexconteiner {
    position: relative;
    z-index: 12;
    width: 94.53125%;
    margin-left: 2.60417%;
  }

  .mainindexconteiner .projectlist {
    height: 265px;
  }

  .mainindexconteiner .titlecontainer {
    width: 74.3801652892%;
    height: 161px;
    margin-left: 25.61553%;
  }

  .menucont {
    left: 2.6041666666%;
    width: 11.1979166666%;
  }

  .menucont .element {
    width: 41.6715801886%;
  }

  .titlecontainer .element {
    position: relative;
    z-index: 1;
    width: 5.7517222747%;
    margin-top: 118px;
    margin-left: -0.10417%;
  }

  .titlecontainer .text {
    margin-top: 44px;
  }

  .titlecontainer .titletext {
    width: 400px;
  }

  .container .langtext-1 {
    float: left;
    margin-right: 0;
    margin-left: -1px;
  }

  .element-3 {
    visibility: visible;
    height: 67px;
  }

  .mainindexconteiner .projectlist-1 {
    width: 74.6556473829%;

  }

  .mainindexconteiner .projectlist-2 {
    position: relative;
    z-index: 8;
    width: 49.173553719%;
    margin-top: 15px;
    margin-left: 0;
  }

  .mainindexconteiner .projectlist-3 {
    position: relative;
    z-index: 12;
    width: 48.7603305785%;
    margin-top: -265px;
    margin-left: 51.09978%;
  }

  .mainindexconteiner .projectlist-4 {
    z-index: 16;
    width: 74.3801652892%;
    margin-left: 25.61553%;
    margin-top: 15px;
  }

  .mainindexconteiner .projectlist-5 {
    z-index: 15;
    width: 74.6556473829%;
    margin-top: 15px;
    margin-left: 0;
  }

  .mainindexconteiner .projectlist-6 {
    position: relative;
    z-index: 24;
    width: 49.173553719%;
    margin-top: 15px;
    margin-left: 0;
  }

  .mainindexconteiner .projectlist-7 {
    position: relative;
    z-index: 28;
    width: 48.7603305785%;
    margin-top: -265px;
    margin-left: 51.09978%;
    background-size: cover;
  }


  .mainindexconteiner .projectlist-8 {
    z-index: 32;
    width: 74.3801652892%;
    margin-top: 15px;
    margin-left: 25.61553%;
  }

  .menucont .menutext-1 {
    margin-top: 204px;
  }

  .menucont .menutext-2 {
    margin-left: 19px;
  }

  .menucont .menutext-3 {
    margin-top: 102px;
    margin-left: 19px;
  }

  ._container .element-5 {
    position: relative;
    z-index: 27;
  }

  ._container .text-2 {
    position: relative;
    z-index: 28;
    margin-left: 2.60417%;
  }

  ._container .text-3 {
    position: relative;
    z-index: 29;
    margin-right: 2.81576%;
  }

  ._container-2 {
    position: relative;
    z-index: 30;
  }

.block1 .cover1 {
  position: relative;
  z-index: 5;
  height: 265px;
}

.block2 .cover2 {
  position: relative;
  z-index: 9;
  height: 265px;
}

.block3 .cover3 {
  position: relative;
  z-index: 13;
  width: 100%;
  height: 265px;
}

.block4 .cover4 {
  position: relative;
  z-index: 17;
  height: 265px;
}

.block5 .cover5 {
  position: relative;
  z-index: 21;
  width: 100%;
  height: 265px;
  margin-left: 0;
}

.block6 .cover6 {
  position: relative;
  z-index: 25;
  height: 265px;
}

.block7 .cover7 {
  position: relative;
  z-index: 29;
  width: 100%;
  height: 265px;
  margin-left: 0;
}

.block8 .cover8 {
  position: relative;
  z-index: 33;
  height: 265px;
}

.block1 .prname1 {
  position: relative;
  z-index: 20;
  margin-left: 5.4%;
}

.block2 .prname2 {
  position: relative;
  z-index: 21;
}

.block3 .prname3 {
  position: relative;
  z-index: 22;
}

.block4 .prname4 {
  position: relative;
  z-index: 23;
}

.block5 .prname5 {
  position: relative;
  z-index: 24;
  margin-left: 5.4%;
}

.block6 .prname6 {
  position: relative;
  z-index: 25;
}

.block7 .prname7 {
  position: relative;
  z-index: 30;
}

.block8 .prname8 {
  position: relative;
  z-index: 34;
}

.mainindexconteiner .block1 {
  position: relative;
  z-index: 7;
  width: 74.6556473829%;
  height: 265px;
  margin-top: -265px;
}

.mainindexconteiner .block2 {
  position: relative;
  z-index: 11;
  width: 49.173553719%;
  height: 265px;
  margin-top: -265px;
  margin-left: 0;
}

.mainindexconteiner .block3 {
  position: relative;
  z-index: 15;
  width: 48.8980716253%;
  height: 265px;
  margin-top: -265px;
  margin-left: 51.09978%;
}

.mainindexconteiner .block4 {
  position: relative;
  z-index: 19;
  width: 74.3801652892%;
  height: 265px;
  margin-top: -265px;
  margin-left: 25.61553%;
}

.mainindexconteiner .block5 {
  position: relative;
  z-index: 23;
  width: 74.6556473829%;
  height: 265px;
  margin-top: -265px;
  margin-left: 0;
}

.mainindexconteiner .block6 {
  position: relative;
  z-index: 27;
  width: 49.173553719%;
  height: 265px;
  margin-top: -265px;
  margin-left: 0;
}

.mainindexconteiner .block7 {
  position: relative;
  z-index: 31;
  width: 48.8980716253%;
  height: 265px;
  margin-top: -265px;
  margin-left: 51.10193%;
}

.mainindexconteiner .block8 {
  position: relative;
  z-index: 35;
  width: 74.3801652892%;
  height: 265px;
  margin-top: -265px;
  margin-left: 25.61553%;
}
}

@media(max-width: 600px) {
  .burger {
    top: 21px;
    right: 3.33%;
  }

  .mainindexconteiner {
    position: relative;
    z-index: 12;
    width: 93.3333333333%;
    margin-left: 3.33073%;
  }

  .mainindexconteiner .projectlist {
    height: 260px;
  }

  .mainindexconteiner .titlecontainer {
    width: 74.4642857142%;
    margin-top: 44px;
    margin-left: 25.48549%;
  }

  .menucont {
    top: 21px;
    left: 3.6666666666%;
    width: 16%;
  }

  .menucont .element {
    width: 35%;
  }

  .titlecontainer .element {
    position: relative;
    z-index: 1;
    width: 5.9569278171%;
    margin-top: 100px;
    margin-left: -0.14239%;
  }

  .titlecontainer .text {
    margin-top: 33px;
  }

  .titlecontainer .titletext {
    width: 300px;
    font-size: 1.625em;
  }

  .mainindexconteiner .projectlist-1 {
    z-index: 4;
    width: 100%;
  }

  .mainindexconteiner .projectlist-2 {
    position: relative;
    z-index: 8;
    width: 48.9285714285%;
    margin-top: 15px;
  }

  .mainindexconteiner .projectlist-3 {
    position: relative;
    z-index: 12;
    width: 48.9285714285%;
    margin-top: -260px;
    margin-left: 51.06585%;
  }

  .mainindexconteiner .projectlist-4 {
    clear: both;
    z-index: 16;
    width: 100%;
    margin-top: 15px;
    margin-left: 0;
  }

  .mainindexconteiner .projectlist-5 {
    width: 100%;
    z-index: 20;
    margin-top: 15px;
  }

  .mainindexconteiner .projectlist-6 {
    position: relative;
    z-index: 24;
    width: 48.9285714285%;
    margin-top: 15px;
  }

  .mainindexconteiner .projectlist-7 {
    position: relative;
    z-index: 28;
    width: 48.9285714285%;
    margin-left: 51.06585%;
    margin-top: -260px
  }


  .mainindexconteiner .projectlist-8 {
    width: 100%;
    z-index: 32;
    margin-top: 15px;
    margin-left: 0;
  }

  .menucont .menutext-1 {
    margin-top: 188px;
  }

  ._container .element-5 {
    position: relative;
    z-index: 27;
  }

  ._container .text-2 {
    position: relative;
    z-index: 28;
    margin-left: 3.33073%;
  }

  ._container .text-3 {
    position: relative;
    z-index: 29;
    margin-right: 3.33073%;
  }

  ._container-2 {
    position: relative;
    z-index: 30;
  }
  .block1 .cover1 {
      position: relative;
      z-index: 5;
      height: 260px;
    }

    .block2 .cover2 {
      position: relative;
      z-index: 9;
      height: 260px;
    }

    .block3 .cover3 {
      position: relative;
      z-index: 13;
      height: 260px;
    }

    .block4 .cover4 {
      position: relative;
      z-index: 17;
      height: 260px;
    }

    .block5 .cover5 {
      position: relative;
      z-index: 21;
      height: 260px;
    }

    .block6 .cover6 {
      position: relative;
      z-index: 25;
      height: 260px;
    }

    .block7 .cover7 {
      position: relative;
      z-index: 29;
      height: 260px;
    }

    .block8 .cover8 {
      position: relative;
      z-index: 33;
      height: 260px;
      margin-top:0;
    }

    .block1 .prname1 {
      position: relative;
      z-index: 20;
      margin-left: 4.4%;
      font-size: 18px;
      margin-top: -65px;
    }

    .block2 .prname2 {
      position: relative;
      z-index: 21;
      width: 160px;
      font-size: 18px;
      margin-top: -92px;
    }

    .block3 .prname3 {
      position: relative;
      z-index: 22;
      width: 185px;
      font-size: 18px;
      margin-top: -92px;
    }

    .block4 .prname4 {
      position: relative;
      z-index: 23;
      margin-left: 4.4%;
      font-size: 18px;
      margin-top: -65px;
    }

    .block5 .prname5 {
      position: relative;
      z-index: 24;
      margin-left: 4.4%;
      font-size: 18px;
      margin-top: -65px;
    }

    .block6 .prname6 {
      position: relative;
      z-index: 25;
      margin-top: -92px;
      margin-left: 9.08%;
      font-size: 18px;
    }

    .block7 .prname7 {
      position: relative;
      clear: both;
      z-index: 30;
      width: 170px;;
      margin-top: -92px;
      margin-left: 9.08%;
      font-size: 18px;
    }

    .block8 .prname8 {
      position: relative;
      z-index: 34;
      margin-left: 4.4%;
      font-size: 18px;
      margin-top: -38px;
    }

    .mainindexconteiner .block1 {
        position: relative;
        z-index: 7;
        width: 100%;
        height: 260px;
        margin-top: -260px;
      }

      .mainindexconteiner .block2 {
        position: relative;
        z-index: 11;
        height: 260px;
        margin-top: -260px;
      }

      .mainindexconteiner .block3 {
        position: relative;
        z-index: 15;
        height: 260px;
        margin-top: -260px;
        margin-left: 51.06585%;
      }

      .mainindexconteiner .block4 {
        position: relative;
        z-index: 19;
        width: 100%;
        height: 260px;
        margin-top: -260px;
        margin-left: 0;
      }

      .mainindexconteiner .block5 {
        position: relative;
        z-index: 23;
        width: 100%;
        height: 260px;
        margin-top: -260px;
      }

      .mainindexconteiner .block6 {
        position: relative;
        z-index: 27;
        width: 48.9285714285%;
        height: 260px;
        margin-top: -260px;
      }

      .mainindexconteiner .block7 {
        position: relative;
        z-index: 31;
        width: 48.9285714285%;
        margin-top: -260px;
        margin-left: 51.06585%;
      }

      .mainindexconteiner .block8 {
        position: relative;
        z-index: 35;
        width: 100%;
        height: 260px;
        margin-top: -260px;
        margin-left: 0;
      }
}



@media(max-width: 480px) {
  body {
    font-size: 1em;
  }

  .burger {
    right: 3.13%;
  }

  .burger .lineofburg {
    width: 95.3125%;
  }

  .container {
    left: 92.2395833333%;
    width: 6.25%;
  }

  .mainindexconteiner {
    position: relative;
    z-index: 12;
    width: 100%;
    margin-left: 0;
  }

  .mainindexconteiner .titlecontainer {
    width: 93.75%;
    margin-top: 50px;
    margin-left: 3.125%;
  }

  .menucont {
    left: 3.125%;
    width: 11.6666666666%;
  }

  .menucont .element {
    width: 45.3621031746%;
    height: 5px;
  }

  .titlecontainer .element {
    position: relative;
    z-index: 1;
    height: 5px;
    margin-top: 78px;
    margin-left: -0.2777800001%;
  }

  .titlecontainer .text {
    margin-top: 31px;
    margin-left: -0.2777800001%;
    font-size: 0.875em;
  }

  .titlecontainer .titletext {
    width: 250px;
    font-size: 1.25em;
  }

  .mainindexconteiner .projectlist-1 {
    margin-top: 80px;
    z-index: 4;
  }

  .mainindexconteiner .projectlist-2 {
    position: relative;
    z-index: 8;
    width: 100%;
    margin-top: 15px;
  }

  .mainindexconteiner .projectlist-3 {
    position: relative;
    clear: both;
    z-index: 12;
    width: 100%;
    margin-left: 0;
    margin-top: 15px;
  }

  .mainindexconteiner .projectlist-4 {
      clear: none;
      z-index: 16;
    }

  .mainindexconteiner .projectlist-5 {
    margin-top: 15px;
    z-index: 20;
  }

  .mainindexconteiner .projectlist-6 {
    position: relative;
    z-index: 24;
    width: 100%;
  }

  .mainindexconteiner .projectlist-7 {
    position: relative;
    clear: both;
    z-index: 28;
    width: 100%;
    margin-left: 0;
    margin-top: 15px;
  }

  .mainindexconteiner .projectlist-8 {
    z-index: 32;
  }

  .menucont .menutext-1 {
    margin-top: 168px;
    margin-left: -45px;
  }

  .menucont .menutext-2,
  .menucont .menutext-3 {
    margin-left: -13px;
  }

  ._container .element-5 {
    position: relative;
    z-index: 27;
  }

  ._container .text-2 {
    position: relative;
    z-index: 28;
    margin-left: 3.125%;
    font-size: 0.875em;
  }

  ._container .text-3 {
    position: relative;
    z-index: 29;
    margin-right: 3.125%;
    font-size: 0.875em;
  }

  ._container-2 {
    position: relative;
    z-index: 30;
    margin-top: 100px;
  }
  .block1 .cover1 {
      position: relative;
      z-index: 5;
    }

  .block2 .cover2 {
    position: relative;
    z-index: 9;
    width: 100%;
  }

  .block3 .cover3 {
    position: relative;
    z-index: 13;
    width: 100%;
  }

  .block4 .cover4 {
    position: relative;
    z-index: 15;
    width: 100%;
  }

  .block5 .cover5 {
    position: relative;
    z-index: 21;
    width: 100%;
  }

  .block6 .cover6 {
    position: relative;
    z-index: 25;
    width: 100%;
  }

  .block7 .cover7 {
    position: relative;
    clear: both;
    z-index: 29;
    width: 100%;
  }

  .block8 .cover8 {
    position: relative;
    z-index: 33;
    width: 100%;
  }

  .block1 .prname1 {
    position: relative;
    z-index: 20;
    margin-top: -60px;
    margin-left: 4.4%;
    font-size: 16px;
  }

  .block2 .prname2 {
    position: relative;
    z-index: 21;
    margin-top: -60px;
    margin-left: 4.4%;
    font-size: 16px;
    width: 200px;
  }

  .block3 .prname3 {
    position: relative;
    z-index: 22;
    width: 250px;
    margin-top: -60px;
    margin-left: 4.4%;
    font-size: 16px;
  }

  .block4 .prname4 {
    position: relative;
    z-index: 23;
    margin-top: -60px;
    margin-left: 4.4%;
    font-size: 16px;
    width: 200px;
  }

  .block5 .prname5 {
    position: relative;
    z-index: 24;
    margin-top: -60px;
    margin-left: 4.4%;
    font-size: 16px;
    width: 200px;
  }

  .block6 .prname6 {
    position: relative;
    z-index: 25;
    margin-top: -60px;
    margin-left: 4.4%;
    font-size: 16px;
  }

  .block7 .prname7 {
    position: relative;
    clear: none;
    z-index: 30;
    margin-top: -60px;
    margin-left: 4.4%;
    font-size: 16px;
    width: 200px;
  }

  .block8 .prname8 {
    position: relative;
    z-index: 34;
    margin-top: -38px;
    margin-left: 4.4%;
    font-size: 16px;
  }

  .mainindexconteiner .block1 {
    position: relative;
    z-index: 7;
  }

 .mainindexconteiner .block2 {
    position: relative;
    z-index: 11;
    width: 100%;
    height: 260px;
  }

 .mainindexconteiner .block3 {
    position: relative;
    z-index: 15;
    width: 100%;
    margin-left: 0;
  }

  .mainindexconteiner .block4 {
    position: relative;
    z-index: 19;
    width: 100%;
  }

  .mainindexconteiner .block5 {
    position: relative;
    z-index: 23;
    width: 100%;
  }

 .mainindexconteiner .block6 {
    position: relative;
    z-index: 27;
    width: 100%;
  }

 .mainindexconteiner .block7 {
    position: relative;
    clear: both;
    z-index: 31;
    width: 100%;
    margin-left: 0;
  }

.mainindexconteiner .block8 {
    position: relative;
    z-index: 35;
    width: 100%;
      }
}



@media(max-width: 320px) {
  .burger {
    top: 22px;
    right: 5.31%;
  }

  .burger .lineofburg {
    width: 91.8402777777%;
  }

  .container {
    left: 92.236328125%;
    width: 9.375%;
  }

  .element {
    width: 100.3125%;
  }

  .mainindexconteiner {
    position: relative;
    z-index: 12;
  }

  .mainindexconteiner .titlecontainer {
    width: 87.5%;
    height: 150px;
    margin-left: 6.25%;
  }

  .menucont {
    top: 22px;
    left: 6.25%;
    width: 15.9374999999%;
    height: 405px;
  }

  .menucont .element {
    width: 15px;
  }

  .titlecontainer .element {
    position: relative;
    z-index: 1;
    width: 15px;
    margin-top: 70px;
    margin-left: -0.12277%;
  }

  .titlecontainer .text {
    margin-top: 25px;
    margin-left: 0;
  }

  .titlecontainer .titletext {
    width: 250px;
  }

  .element-3 {
    height: 71px;
  }

  .mainindexconteiner .projectlist-1 {
    z-index: 4;
  }

  .mainindexconteiner .projectlist-2 {
    position: relative;
    z-index: 8;
    margin-top: 15px;
  }

  .mainindexconteiner .projectlist-3 {
    position: relative;
    z-index: 12;
  }

  .mainindexconteiner .projectlist-4 {
    z-index: 16;
  }

  .mainindexconteiner .projectlist-5 {
    z-index: 20;
  }

  .mainindexconteiner .projectlist-6 {
    position: relative;
    z-index: 24;
  }

  .mainindexconteiner .projectlist-7 {
    position: relative;
    z-index: 28;
  }

  .mainindexconteiner .projectlist-8 {
      z-index: 32;
    }

  .menucont .menutext-1 {
    margin-top: 156px;
    margin-left: 26px;
  }

  .menucont .menutext-2 {
    margin-left: 55px;
  }

  .menucont .menutext-3 {
    margin-top: 80px;
    margin-left: 55px;
  }

  ._container .element-5 {
    position: relative;
    z-index: 27;
    width: 91.9540229885%;
  }

  ._container .text-2 {
    position: relative;
    z-index: 28;
    margin-left: 5.74124%;
  }

  ._container .text-3 {
    position: relative;
    z-index: 29;
    margin-right: 13.7421399999%;
  }

  ._container-2 {
    position: relative;
    z-index: 30;
    width: 108.69140625%;
  }
  .block1 .cover1 {
    position: relative;
    z-index: 5;
  }

  .block2 .cover2 {
    position: relative;
    z-index: 9;
  }

  .block3 .cover3 {
    position: relative;
    z-index: 13;
  }

  .block4 .cover4 {
    position: relative;
    z-index: 17;
  }

  .block5 .cover5 {
    position: relative;
    z-index: 21;
  }

  .block6 .cover6 {
    position: relative;
    z-index: 25;
  }

  .block7 .cover7 {
    position: relative;
    z-index: 29;
  }

  .block8 .cover8 {
    position: relative;
    z-index: 33;
  }

  .block1 .prname1 {
    position: relative;
    z-index: 20;
    margin-left: 6.25%;
  }

  .block2 .prname2 {
    position: relative;
    z-index: 21;
    margin-left: 6.25%;
  }

  .block3 .prname3 {
    position: relative;
    z-index: 22;
    margin-left: 6.25%;
  }

  .block4 .prname4 {
    position: relative;
    z-index: 23;
    margin-left: 6.25%;
  }

  .block5 .prname5 {
    position: relative;
    z-index: 24;
    margin-left: 6.25%;
  }

  .block6 .prname6 {
    position: relative;
    z-index: 25;
    margin-left: 6.25%;
  }

  .block7 .prname7 {
    position: relative;
    z-index: 30;
    margin-left: 6.25%;
  }

  .block8 .prname8 {
    position: relative;
    z-index: 34;
    margin-left: 6.25%;
  }

  .mainindexconteiner .block1 {
    position: relative;
    z-index: 7;
  }

  .mainindexconteiner .block2 {
    position: relative;
    z-index: 11;
  }

  .mainindexconteiner .block3 {
    position: relative;
    z-index: 15;
  }

  .mainindexconteiner .block4 {
    position: relative;
    z-index: 19;
  }

  .mainindexconteiner .block5 {
    position: relative;
    z-index: 23;
  }

  .mainindexconteiner .block6 {
    position: relative;
    z-index: 27;
  }

  .mainindexconteiner .block7 {
    position: relative;
    z-index: 31;
  }

  .mainindexconteiner .block8 {
    position: relative;
    z-index: 35;
  }
}
